.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active,
.dropdown-item:hover,
.dropdown-item:focus,
.carousel-indicators li.active,
.gear
{
    background: #18e0e0;
}

.navbar-brand span,
.about h1 span,
.testimonials span,
.footer h3,
.footer .copyright span
{
    color: #18e0e0;
}

.dropdown-menu
{
    
    border-top: 3px solid #18e0e0
    
}

.option .color,
.testimonials .carousel-indicators li.active
{
    
    border: 3px solid #18e0e0; 
}





